{
  Description     = "VNC Server";
  Provides        = ("VNC");
  Requires        = ("Resolver");
  Uses			  = ("Core Graphics");
  OrderPreference = "None";
  Messages =  {
	restart = "Restarting SafariHelper server";
	start = "Starting SafariHelper server";
	stop = "Stopping SafariHelper server";
  };
}